.user-challenges-page {

}

.user-challenges-page h2{
    color: #3c3c3c;
    font-size: 2em;
    font-family: "Recoleta", sans-serif;
    font-weight: 400;
}

.user-challenges-page-stats {
    background-color: #F8F8F8;
}
