.knowmore-page-container{
    padding-top: 40px !important;
}

.knowmore-title-container {
}

.knowmore-title-container h1{
    font-family: "Recoleta", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    line-height: 0.9;
}
.knowmore-title1 {
    color: $primary;
}

.knowmore-title2 {
    color: rgba(0, 0, 0, 1);
}

.knowmore-highlight-text {
    color: $primary;
    font-size: 1.2em;
    line-height: 1.2;

}

.knowmore-text {
    font-size: small;
}

.knowmore-img-container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.knowmore-img {
    width: 50%;
}


